<footer class="page-footer font-featured">
  <div class="container">
    <div class="row">
      <div id="contact" class="col l6 s7">
        <h5 class="white-text">Contact:</h5>
        <h6 class="grey-text text-lighten-4">contact@dariawriter.com</h6>
      </div>
      <div class="col l4 offset-l2 s4 offset-s1">
        <h5 class="white-text">Links</h5>
        <ul class="clr-background">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Daria Zari © 2019-2023
    <a style="display-inline:block; width: 28px;" class="right social-icon-footer" href="https://www.instagram.com/daria.zari">{{> instagram-icon }}</a>
    </div>
  </div>
</footer>
