.bg-primary {
  background: $primary-color;
}

.bg-secondary {
  background: $secondary-color;
}

.bg-success {
  background: $success-color;
}

.bg-error {
  background: $error-color;
}

.bg-link {
  background: $link-color;
}

.bg-background {
  background: $background-color;
}

.bg-foreground {
  background: $foreground-color;
}

.bg-secondary {
  background: $secondary-color;
}

.bg-secondary-light {
  background: $secondary-color-light;
}

.clr-primary {
  color: $primary-color;
}

.clr-primary-darker {
  color: $primary-color-darker;
}

.clr-secondary {
  color: $secondary-color;
}

.clr-secondary-light {
  color: $secondary-color-light;
}

.clr-secondary-darker {
  color: $secondary-color-darker;
}

.clr-foreground {
  color: $foreground-color;
}

.clr-background {
  color: $background-color;
}

.clr-text {
  color: $text-color;
}

.clr-text-ligth {
  color: $text-color-light;
}

