.font-logo {
  font-family: $font-logo;
}

.font-text {
  font-family: $font-text;
}

.font-title {
  font-family: $font-title;
  font-weight: 700;
}

.font-featured {
  font-family: $font-featured;
}

.font-featured {
  font-family: $font-featured;
}
